<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/Css/dashboard.css" />
  </head>
  <body>
    <div class="sidebar">
      <h2>Velora</h2>
      <hr />
      <ul>
        <a href="/dashboard"><li>Dashboard</li></a>
        <a href="/customers-dashboard"><li>Customers</li></a>
        <a href="/orders-dashboard"><li>Orders</li></a>
        <a href="/product-dashboard"><li>Products</li></a>
           <li>
    <button onclick="logout()" class="logout-btn">Logout</button>
  </li>
    </div>
    <div class="dashboard-container">

      <h1>Admin Dashboard</h1>
    
      <div class="stats-grid">
        <div class="stat-card">
          <h2>Customers</h2>
          <p class="count"><%= customerCount %></p>
        </div>

        <div class="stat-card">
          <h2>Orders</h2>
          <p class="count"><%= orderCount %></p>
        </div>

        <div class="stat-card">
          <h2>Products</h2>
          <p class="count"><%= productCount %></p>
        </div>
      </div>
      
      <button id="refreshButton">Refresh Data</button>
    </div>

    <script src="/javasScript/dashboard.js"></script>
  </body>
</html>
