<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="/Css/signup.css" />
    <link rel="stylesheet" href="/Css/HeadFoot.css" />
  </head>

  <body class="reset">
    <div class="reset-container">
      <!-- Reset Password Form -->
      <form id="resetPasswordForm" action="/users/resetpassword" method="POST">
        <h1>Reset Your Password</h1>
        <p>Enter your email, new password, and confirm it.</p>

        <!-- Email Input -->
        <input
          type="email"
          id="Email"
          name="Email"
          placeholder="Email"
          required
        />

        <!-- New Password Input -->
        <input
          type="password"
          id="password"
          name="password"
          placeholder="New Password"
          required
          oninput="confirmPassword.pattern = this.value"
        />

        <!-- Confirm Password Input -->
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm Password"
          required
          pattern=".{6,}"
        />

        <!-- Submit Button -->
        <button type="submit">Reset Password</button>
      </form>
    </div>

    <script src="/javasScript/authentcation.js"></script>
  </body>
</html>
